<div class="navbar">
    <div class="navbar-logo">
        <%= link_to root_path do %>
        <%= image_tag 'icono-releve.png' %>
        <span>RELEVE.DEV</span>
        <% end %>
    </div>

    <div class="navbar-content">
        <% if current_user.present? %>
            <%= link_to  "Sign out", destroy_user_session_path, method: :delete, class: 'navbar-label'%>
            <%= link_to  "All languages", languages_path, class: 'navbar-label' %>
            <%= link_to  "Dashboard", dashboard_path, class: 'navbar-label' %>
            <%= link_to "Mentors", mentors_path, class: 'navbar-label' %>
            <% unless current_user.mentor  %>
            <%= link_to "Become a mentor",  become_mentor_users_path(current_user), class: 'navbar-label' %>
            <% end %>
        <% else %>
            <%= link_to "Mentors", mentors_path, class: 'navbar-label' %>
            <%= link_to  "Sign in", login_path, class: 'navbar-label'  %>
            <%= link_to  "All languages", languages_path, class: 'navbar-label' %>

        <%end%>
    </div>
</div>