<%= simple_form_for [@language, @language_review] do |f|%>
<h4>Our mentors say</h4>
<%= f.input :comment %>
<h4>Importance</h4>
<%= f.collection_radio_buttons :rating, [[1, '1'] ,[2, '2'],[3, '3'],[4, '4'],[5, '5']], :first, :last %>
<%= f.hidden_field :language, value: @language.id %>
<%= f.button :submit, label:'send review',  class: "white-button"%>
<% end %>